In [1]:
# Import the necessary modules
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Bring each CSV into a separate data frame
wwe_2013_df = pd.read_csv("Resources/WWE-Data-2013.csv")
wwe_2014_df = pd.read_csv("Resources/WWE-Data-2014.csv")
wwe_2015_df = pd.read_csv("Resources/WWE-Data-2015.csv")
wwe_2016_df = pd.read_csv("Resources/WWE-Data-2016.csv")

In [4]:
# Merge the first two datasets (2013 and 2014) on "Wrestler" so that no data is lost (should be 182 rows)
wwe_2013and2014_df = pd.merge(wwe_2013_df, wwe_2014_df, how="left", on=["Wrestler", "Wrestler"])
wwe_2013and2014_df

             Wrestler  Wins_x  Losses_x  Draws_x  Wins_y  Losses_y  Draws_y
0        Daniel Bryan     177        37        6    35.0      16.0      2.0
1        Dean Ambrose      70       134        4   129.0      36.0      2.0
2      Antonio Cesaro      80       126        1     5.0      24.0      0.0
3        Seth Rollins      50       150        4    87.0     105.0      4.0
4         Randy Orton     129        63        8    33.0      87.0      5.0
..                ...     ...       ...      ...     ...       ...      ...
163  Denton Blackwell       0         2        0     NaN       NaN      NaN
164       Jamie Noble       2         0        0     NaN       NaN      NaN
165      Marcus Louis       0         2        0    16.0      18.0      1.0
166   Memo Montenegro       0         2        0     NaN       NaN      NaN
167   Vickie Guerrero       0         2        0     NaN       NaN      NaN

[168 rows x 7 columns]

In [13]:
# Rename our _x columns to "2013 Wins", "2013 Losses", and "2013 Draws"
wwe_2013and2014_df.rename(columns = {'Wins_x':'2013 Wins'}, inplace = True)
wwe_2013and2014_df.rename(columns = {'Losses_x':'2013 Losses'}, inplace = True)
wwe_2013and2014_df.rename(columns = {'Draws_x':'2013 Draws'}, inplace = True) 
# Rename our _y columns to "2014 Wins", "2014 Losses", and "2014 Draws"

wwe_2013and2014_df.rename(columns = {'Wins_y':'2014 Wins'}, inplace = True)
wwe_2013and2014_df.rename(columns = {'Losses_y':'2014 Losses'}, inplace = True)
wwe_2013and2014_df.rename(columns = {'Draws_y':'2014 Draws'}, inplace = True)

In [14]:
wwe_2013and2014_df

,Wrestler,2013 Wins,2013 Losses,2013 Draws,2014 Wins,2014 Losses,2014 Draws
0,Daniel Bryan,177,37,6,35.0,16.0,2.0
1,Dean Ambrose,70,134,4,129.0,36.0,2.0
2,Antonio Cesaro,80,126,1,5.0,24.0,0.0
3,Seth Rollins,50,150,4,87.0,105.0,4.0
4,Randy Orton,129,63,8,33.0,87.0,5.0
...,...,...,...,...,...,...,...
163,Denton Blackwell,0,2,0,NaN,NaN,NaN
164,Jamie Noble,2,0,0,NaN,NaN,NaN
165,Marcus Louis,0,2,0,16.0,18.0,1.0
166,Memo Montenegro,0,2,0,NaN,NaN,NaN
167,Vickie Guerrero,0,2,0,NaN,NaN,NaN